@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
html {
  scrollbar-width: none;
}

/* Allow scrolling on the container */
.scroll-container {
  overflow: auto;
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    overflow-x: auto; /* Enable horizontal scroll */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 0px; /* Hide horizontal scrollbar */
  }
}
